:root {
  --primary-color: #4caf50;
  --primary-color-dark: #449647;
  --secondary-color: #f5f5f5;
  --dark-theme-color: #213547;
  --accent-color: #ffffff;
  --accent-color-dark: #f0e7e7f;
  --text-color: #333333;
  --text-color-light: #333333;
  --error-color: #ff4d4d;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: var(--secondary-color);
  background-color: var(--dark-theme-color); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-color-dark);
}

body {
  margin: 0px;
  padding: 0px;
}